.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000ee;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 50px;
  margin-right: 1rem;
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  margin-left: 1rem;
}

.header__nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
