@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #202020;
  --clr-grey: #707070;
  --clr-blue: #6c63ff;
  --clr-blue-2: #4c46b6;
  --clr-green: #4fb646;
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/bg-image.jpg");
  background-color: #202020;
  background-position: top;
  background-size: 80%;
}

body::backdrop {
  filter: blur(5px);
}
